
body{
  margin: 0px;
}
.road{
  position: absolute;
  top: 575px;
  left: 0px;
  z-index: 1;
}
.car1{
  position: absolute;
  top: 500px;
  left: 0px;
  z-index: 3;
}
.car2{
  position: absolute;
  top: 645px;
  left: 0px;
  z-index: 3;
}
.finishline {
  position: absolute;
  top: 580px;
  left: 1300px;
  z-index: 2;
}
.car1wins, .car2wins {
  position: absolute;
  top: 100px;
  left: 380px;
  z-index: 4;
  border: 10px solid black;
}
